# Archivos compilados
*.class
.settings/
.project
.classpath
.metadata/
bin/
target/
tmp/
out/

# Archivos del entorno de desarrollo
*.iml
.idea/
.vscode/
*.log

# Directorios de construcción de Maven y Gradle
target/
build/
effective-pom.xml

# Archivos de sistema
*.DS_Store
Thumbs.db

# Archivos de empaquetado
*.jar
*.war
*.ear